{{#if tasks}}
<div class="detail">Job history</div>
<table class="table table-condensed">
  <tr>
    <th>Task Id</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th style="text-align:center">Duration</th>
    <th style="text-align:center">Status</th>
  </tr>
{{#each tasks}}
  <tr>
    <td>{{taskId}}</td>
    <td>{{startTime}}</td>
    <td>{{endTime}}</td>
    <td style="text-align:center">{{duration}}</td>
    <td style="text-align:center" {{#if statusClass}}class="count-{{statusClass}}"{{/if}}>{{status}}</td>
  </tr>
{{/each}}
</table>
{{/if}}
